<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Index</title>
</head>
<body>
<h1>Just Test !!</h1>
<input type="text" x-webkit-speech="x-webkit-speech" lang="zh-CN"/>
<hr/>
<form id="f" action="/search" method="GET">
    <label for="q">Search</label>
    <reco for="q"/>
    <input id="q" name="q" type="text"/>
    <input type="submit" value="Example Search"/>
</form>
<hr/>
<!--<script>
    var recognition = new AudioContext();
    recognition.continuous = true;
    recognition.interimResults = true;
    recognition.onresult = function(event) {
        console.log(event)
    }
    recognition.start();
</script>-->
</body>
</html>